In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import re

In [3]:
url = "https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="

In [10]:
Brands = []
Model=[]
Stars = []
Ton = []
CPrice = []
OPrice = []
PowerUsage = []
RoomSize = []
Ratings = []
Reviews = []
prod = []

for i in range(1,38):
    print(url+str(i))
    urls = url+str(i)
    
    page = requests.get(urls)
    data = BeautifulSoup(page.text)
    
    
    for i in data.find_all("div",class_="_4rR01T"):
        Brands.append(i.text.split()[0])
        
    
    for i in data.find_all("div",class_="_4rR01T"):
        Model.append(i.text)


    
    for i in data.find_all("div",class_="_4rR01T"):
        res = (re.findall(r"(\d)\sStar",i.text))
        if len(res)==0:
            Stars.append(np.nan)
        else:
            Stars.append(res[0])


    
    for i in data.find_all("div",class_="_4rR01T"):
        res = re.findall(r"(\d+(\.\d+)?)\sTon",i.text)
        if len(res)==0:
            Ton.append(np.nan)
        else:
            Ton.append(res[0][0])


    
    CPrice_Temp = []
    mydivs = data.find_all("div",class_="_25b18c")
    for x in mydivs:
        Cspan = x.find("div",class_="_30jeq3 _1_WHN1")
        if Cspan is None:
            CPrice_Temp.append(np.nan)
        else:
            CPrice_Temp.append(Cspan.text)
    CPrice.extend(CPrice_Temp[0:24])


    OPrice_Temp = []
    for x in mydivs:
        Ospan = x.find("div",class_="_3I9_wc _27UcVY")
        if Ospan is None:
            OPrice_Temp.append(np.nan)
        else:
            OPrice_Temp.append(Ospan.text)
    OPrice.extend(OPrice_Temp[0:24])


    divs = data.find_all("div", class_="col col-7-12")
    for div in divs:
        divx = div.find("div", class_="_3LWZlK")
        if divx is None:
            prod.append(np.nan)
        else:
            prod.append(divx.text)
    
    
    for i in data.find_all("ul",class_="_1xgFaf"):
        res = re.findall("\:\s(.+)\skWh",i.text)
        if len(res)==0:
            PowerUsage.append(np.nan)
        else:
            PowerUsage.append(res[0])


    
    for i in data.find_all("ul",class_="_1xgFaf"):
        res = re.findall("Room Size: (.*) sqft",i.text)
        if len(res)==0:
            RoomSize.append(np.nan)
        else:
            RoomSize.append(res[0])


    
    divs = data.find_all("div", class_="col col-7-12")
    for div in divs:
        span = div.find("span", class_="_2_R_DZ")
        if span is None:
            Ratings.append(np.nan)
            Reviews.append(np.nan)
        else:
            Ratings.append(span.text.split()[0])
            Reviews.append(span.text.split("&")[1].split()[0])

            
    
    print(len(Brands))
    print(len(Model))
    print(len(Ton))
    print(len(Stars))
    print(len(Reviews))
    print(len(Ratings))
    print(len(OPrice))
    print(len(CPrice))
    print(len(RoomSize))
    print(len(PowerUsage))
    print(len(prod))

https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1
24
24
24
24
24
24
24
24
24
24
24
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2
48
48
48
48
48
48
48
48
48
48
48
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3
72
72
72
72
72
72
72
72
72
72
72
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4
96
96
96
96
96
96
96
96
96
96
96
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5
120
120
120
120
120
120
120
120
120
120
120
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6
144
144
144
144
144
144
144
144
144
144
144
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7
168
168
168
168
168
168
168
168
168
168
168
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8
192
192
192
192
192
192
192
192
192
192
192
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9
216
216
216
216
216
216
216
216
216
216
216
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10
240
240
240
240
240
240
240
240
240
240
240
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=11
264
264
264
264
264
264
264
264
264
264
264
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=12
288
288
288
288
288
288
288
288
288
288
288
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=13
312
312
312
312
312
312
312
312
312
312
312
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=14
336
336
336
336
336
336
336
336
336
336
336
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=15
360
360
360
360
360
360
360
360
360
360
360
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=16
384
384
384
384
384
384
384
384
384
384
384
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=17
408
408
408
408
408
408
408
408
408
408
408
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=18
432
432
432
432
432
432
432
432
432
432
432
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=19
456
456
456
456
456
456
456
456
456
456
456
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=20
480
480
480
480
480
480
480
480
480
480
480
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=21
504
504
504
504
504
504
504
504
504
504
504
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=22
528
528
528
528
528
528
528
528
528
528
528
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=23
552
552
552
552
552
552
552
552
552
552
552
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=24
576
576
576
576
576
576
576
576
576
576
576
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=25
600
600
600
600
600
600
600
600
600
600
600
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=26
624
624
624
624
624
624
624
624
624
624
624
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=27
648
648
648
648
648
648
648
648
648
648
648
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=28
672
672
672
672
672
672
672
672
672
672
672
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=29
696
696
696
696
696
696
696
696
696
696
696
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=30
720
720
720
720
720
720
720
720
720
720
720
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=31
744
744
744
744
744
744
744
744
744
744
744
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=32
768
768
768
768
768
768
768
768
768
768
768
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=33
792
792
792
792
792
792
792
792
792
792
792
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=34
816
816
816
816
816
816
816
816
816
816
816
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=35
840
840
840
840
840
840
840
840
840
840
840
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=36
864
864
864
864
864
864
864
864
864
864
864
https://www.flipkart.com/search?q=ac&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=37
888
888
888
888
888
888
888
888
888
888
888

In [13]:
df1 = pd.DataFrame({"Brands":Brands,
                   "Model":Model,
                  "BEE_Rating":Stars,
                  "Tons":Ton,
                  "Reviews_Count":Reviews,
                  "Ratings_Count":Ratings,
                  "Cust_Review":prod,
                  "Original_Price":OPrice,
                  "Current_Price":CPrice,
                  "Room_Size":RoomSize,
                  "Annual_Power_Usage":PowerUsage})
df1

,Brands,Model,BEE_Rating,Tons,Reviews_Count,Ratings_Count,Cust_Review,Original_Price,Current_Price,Room_Size,Annual_Power_Usage
0,ONIDA,ONIDA 2023 Model 1.5 Ton 3 Star Split Inverter...,3,1.5,939,"7,988",4.3,"₹43,900","₹29,990",111 - 150,969.15
1,Godrej,Godrej 5-in-1 Convertible Cooling 2023 Model 1...,4,1.5,403,"4,378",4.1,"₹49,990","₹32,990",111 - 150,883.14
2,Voltas,Voltas 2023 Model 0.6 Ton 2 Star Split AC - W...,2,0.6,13,133,4,"₹49,690","₹19,999",90,475.3
3,Voltas,Voltas 2023 Model 1.5 Ton 5 Star Split Inverte...,5,1.5,244,"2,635",4.1,"₹75,990","₹37,990",111 - 150,751.28
4,Godrej,Godrej 5-In-1 Convertible Cooling 2023 Model 1...,3,1.5,403,"4,378",4.1,"₹45,400","₹30,990",111 - 150,965.71
...,...,...,...,...,...,...,...,...,...,...,...
883,LG,LG 1.5 Ton 5 Star Split Dual Inverter AC - Wh...,5,1.5,NaN,NaN,NaN,"₹76,990","₹51,290",111 - 150,1700
884,Daikin,Daikin 1.5 Ton 3 Star Split with PM 2.5 Filter...,3,1.5,204,"2,045",4.3,"₹43,800","₹40,288",111 - 150,1425
885,Hitachi,Hitachi 1 Ton 3 Star Split Inverter AC - White,3,1,4,23,3.6,NaN,"₹41,290",90,0
886,Blue,Blue Star Convertible 5 in 1 Cooling 2023 Mode...,3,1.5,384,"4,478",4.1,"₹62,250","₹35,799",111 - 150,1002.84
887,Blue,Blue Star 2023 Model 1.3 Ton 3 Star Split Inve...,3,1.3,"1,521","13,889",4.2,"₹57,500","₹32,990",111 - 150,865.48

In [14]:
df1.isnull().sum()

Brands                  0
Model                   0
BEE_Rating             23
Tons                    1
Reviews_Count         133
Ratings_Count         133
Cust_Review           133
Original_Price        108
Current_Price           1
Room_Size               7
Annual_Power_Usage     43
dtype: int64

In [15]:
df1.dropna(subset=['Reviews_Count'], inplace=True, ignore_index=True)

In [16]:
df1.isnull().sum()

Brands                  0
Model                   0
BEE_Rating              3
Tons                    1
Reviews_Count           0
Ratings_Count           0
Cust_Review             0
Original_Price        100
Current_Price           0
Room_Size               4
Annual_Power_Usage     19
dtype: int64

In [17]:
df1

,Brands,Model,BEE_Rating,Tons,Reviews_Count,Ratings_Count,Cust_Review,Original_Price,Current_Price,Room_Size,Annual_Power_Usage
0,ONIDA,ONIDA 2023 Model 1.5 Ton 3 Star Split Inverter...,3,1.5,939,"7,988",4.3,"₹43,900","₹29,990",111 - 150,969.15
1,Godrej,Godrej 5-in-1 Convertible Cooling 2023 Model 1...,4,1.5,403,"4,378",4.1,"₹49,990","₹32,990",111 - 150,883.14
2,Voltas,Voltas 2023 Model 0.6 Ton 2 Star Split AC - W...,2,0.6,13,133,4,"₹49,690","₹19,999",90,475.3
3,Voltas,Voltas 2023 Model 1.5 Ton 5 Star Split Inverte...,5,1.5,244,"2,635",4.1,"₹75,990","₹37,990",111 - 150,751.28
4,Godrej,Godrej 5-In-1 Convertible Cooling 2023 Model 1...,3,1.5,403,"4,378",4.1,"₹45,400","₹30,990",111 - 150,965.71
...,...,...,...,...,...,...,...,...,...,...,...
750,LG,LG 1.5 Ton 5 Star Split Dual Inverter AC - White,5,1.5,1,18,4.2,"₹83,990","₹51,890",111 - 150,968.61
751,Daikin,Daikin 1.5 Ton 3 Star Split with PM 2.5 Filter...,3,1.5,204,"2,045",4.3,"₹43,800","₹40,288",111 - 150,1425
752,Hitachi,Hitachi 1 Ton 3 Star Split Inverter AC - White,3,1,4,23,3.6,NaN,"₹41,290",90,0
753,Blue,Blue Star Convertible 5 in 1 Cooling 2023 Mode...,3,1.5,384,"4,478",4.1,"₹62,250","₹35,799",111 - 150,1002.84
754,Blue,Blue Star 2023 Model 1.3 Ton 3 Star Split Inve...,3,1.3,"1,521","13,889",4.2,"₹57,500","₹32,990",111 - 150,865.48

In [18]:
df1.to_csv("AC_Data_2.csv")

In [19]:
for i in range(df1['Brands'].size):
    if len(str(df1['Reviews_Count'][i]))==0:
        print(df1['Brands'][i])

In [20]:
df1['Brands'].size

755